main.mainBG {
  height: 100vh;
  background-image: url(/auth_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;

  & > div.modal {
    background-color: var(--clr-dark-bg);
    border-radius: 1rem;
    box-shadow: var(--shadow-primary);
    display: grid;
    grid-template-columns: auto auto;

    & > div.left {
      position: relative;
      height: 100%;
      border-radius: 1rem;
      background-image: var(--clr-auth-gradient);
      color: white;
      padding: 1rem 2rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &::before {
        content: open-quote;
        font-family: serif;
        font-weight: 900;
        color: #ffffff;
        font-size: 10rem;
        position: absolute;
        top: -2rem;
        left: 2rem;
        filter: var(--shadow-drop-primary);
      }

      & > div.heading {
        text-align: left;
        font-size: 4rem;
        font-weight: 700;

        & > span {
          display: block;
          color: #000000;
        }

        & > div {
          line-height: 1;
          filter: var(--shadow-drop-primary);
        }
      }
    }

    & > div.right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 0.5rem;

      & > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;
        padding: 1rem 1.5rem;

        & div.name__container {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        & div.form__group {
          width: 100%;
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & label {
            text-transform: uppercase;
            font-size: 16px;
            color: rgb(255 255 255 / 0.7);
            letter-spacing: 1.5px;
          }

          & div.input__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
            padding: 0.3rem 1rem;
            background-color: #222222;
            border-radius: 0.5rem;
            outline: 1px solid var(--input-color);

            & input {
              padding: 0.2rem 0.4rem;
              background-color: transparent;
              &:active,
              &:focus {
                outline: none;
              }
            }

            & svg {
              font-size: 1.5rem;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.invalid__feedback {
  color: red;
  font-size: 12px;
}

@media screen and (max-width: 1330px) {
  main.mainBG {
    padding-block: 4rem;
    & > div.modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > div.left {
        width: 100%;

        &::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  main.mainBG {
    background-image: none;
    background-color: var(--clr-dark-bg);
  }
}

@media screen and (max-width: 800px) {
  main.mainBG {
    background-image: none;
    background-color: var(--clr-dark-bg);
    height: auto;
    padding: 0;

    div.modal {
      width: 100%;
      height: auto;

      & > div.left,
      & > div.right {
        border-radius: 0;
      }

      & > div.left {
        padding-block: 2rem;
      }

      & > div.right {
        height: auto;
        width: 100%;

        & > form {
          width: 100%;
          gap: .75rem;

          & > div.name__container {
            flex-direction: column;
            width: 100%;
            gap: .75rem;
          }

          & > div.form__group:last-child {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
