@import "../_variables";

.main {
  background: #121212;
  height: 100%;
  width: 14%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}
header {
  font-size: 3rem;
  width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    gap: 1.5rem;
    & > div.settingsOptions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        padding: .5rem 1rem;
        border-radius: .5rem;
        height: 3.5rem;
        font-size: 1.6rem;
        cursor: pointer;
        &:hover {
            background-color: #090909;
        }
        & > div:nth-child(1) { 
            height: 1.8rem;
            & > svg {
                font-size: 1.8rem;
                color: $away-sts-bg-color;
            }
        }
    }
}