@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 0);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 0.4);
  &:hover {
    background-color: rgb(0 0 0 / 0.5);
  }
}

* {
  scrollbar-color: rgb(0 0 0 / 0.8) rgb(0 0 0 / 0.3) !important;
  scrollbar-width: thin !important;
  scrollbar-gutter: stable both-side !important;
  color: white;
}

body {
  background: #222222;
}

.login__btn {
  @apply w-full rounded-md bg-blue-600 px-4 py-2 text-base uppercase tracking-widest shadow-xl transition-colors hover:bg-blue-700 active:bg-blue-800;
}

.loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  width: 0;
  height: 4.8px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  animation: animFw 3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.loading__wrapper {
  width: 30%;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-inline: auto;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 4rem;
    gap: 2rem;
    font-size: 2rem;
  }
}
