$primary-bg-dark-theme: #121212;
$primary-color-dark-theme: #fff;
$primary-button-color: #2b19fd;


$dark-bg-dark-theme: #101010;
$dark-color-dark-theme: #111111;


$danger-bg-color: #FF0000;
$danger-font-color: #FF0000;


$online-n-other-sts-bg-color: #FFA800;
$away-sts-bg-color: #00FF38;


$primary-font: 'Harmattan', sans-serif; 
$notFound-font: 'Black Ops One', cursive;
$bold-font: 'Bebas Neue', cursive;
$primary-poppins: "Poppins", sans-serif;

$icons-bg-color-dark-theme: #060606;