* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.mainCard {
    background-color: #222;
    background-image: url(21023.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 0 -120px;
    width: 450px;
    border-radius: 20px;
    padding: 0 20px 30px 20px;
}

.mainSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 140px;
    position: relative;
}

#userIcon {
    height: 120px;
    width: 120px;
    background: #fff;
    border-radius: 50%;
    border: 5px solid #007a14;
    top: -40px;
    position: relative;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
}

span {
    color: white;
    font-family: 'Harmattan', sans-serif;
    font-size: 40px;
    margin-left: 50px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    gap: 10px;
}

h2 {
    color: rgb(255 255 255 / .35);
    font-family: 'Harmattan', sans-serif;
    font-size: 34px;
}

#userAbout {
    max-width: auto;
    background-color: rgba(255, 255, 255, .2);
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
    font-family: 'Harmattan', sans-serif;
    font-size: 25px;
    text-align: left;
}